[Unit]
Description=Music Assistant

[Service]
Type=simple

ExecStart=/usr/bin/podman compose -f /opt/music-assistant/podman-compose.yaml up
ExecStop=/usr/bin/podman compose -f /opt/music-assistant/podman-compose.yaml down

Restart=on-failure
RestartSec=5

TimeoutStopSec=30

[Install]
WantedBy=multi-user.target